<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %} - Devman Encyclopedia</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
</head>
<body>
  <header>
    <a href="index.html">
      <div class="text-center pt-2 pb-2 mb-2 text-white"><h1>Энциклопедия Devman</h1></div>
    </a>
  </header>
  {% block content %}{% endblock %}
  <footer class="footer pt-2 pb-2 mt-2">
    <div class="text-center">Ответы на частые вопросы можно найти в разделе
      <a href="#" class="text-dark font-weight-bold">«Вопросы и ответы»</a>
    </div>
  </footer>
  <script src="{{ STATIC_URL }}js/jquery-3.3.1.slim.min.js"></script>
  <script src="{{ STATIC_URL }}js/popper.min.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
</html>