{% extends '_base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      {% for topic in topics %}
        <div class="col-6 col-md-4">
          <div class="pl-3 topic">{{ topic['title'] }}</div>
          <ul class="list-group">
            {% for article in articles %}
              {% if article['topic'] == topic['slug'] %}
                <li class="list-group-item border-0 pt-1 pb-1">
                  <a href="{{ article['html_filepath']|escape }}">{{ article['title']|escape }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}